<ion-header *ngIf="!sinPermisos">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>NUEVO HUESPED</ion-title>
  </ion-toolbar>
  <ion-toolbar class="atras" *ngIf="paso > 1 && paso < 5 || paso == 0">
    <!-- BOTON PASO ANTERIOR -->
    <div>
      <span (click)="atras()">{{ 'HUESPED.ATRAS' | translate }}</span>
    </div>
  </ion-toolbar>
</ion-header>


<!-- El paso 0 muestra formulario para meter los datos del fastcheckin de forma manual cuando falla la detección de imágenes -->
<ion-content class="huesped-box">
  <div class="container_fastcheckin">
    <div class="atras" *ngIf="paso==1 || paso>=5">

    </div>
    <!-- INTRODUCCION -->
    <ion-item lines="none" class="introduccion" *ngIf="paso > 0 && paso < 4">
      <label>
        <p>
          <ion-text>{{ 'HUESPED.CUERPO_2' | translate }}</ion-text>
        </p>
        <p>
          <ion-text>{{ 'HUESPED.CUERPO_3' | translate }}</ion-text>
        </p>
      </label>
    </ion-item>

    <!-- ELEJIR TIPO DOCUMENTO -->
    <ion-list class="opciones" *ngIf="paso==1">
      <ion-item class="select">
        <ion-text>{{ 'HUESPED.ELEGIR_TIPO_DOC' | translate }}</ion-text>
      </ion-item>
      <ion-item class="select">
        <ion-select class="centrado" [(ngModel)]="tipoDoc" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="dni">{{ 'HUESPED.DNI' | translate }}</ion-select-option>
          <ion-select-option value="pasaporte">{{ 'HUESPED.PASAPORTE' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- MUESTRA IMÁGENES ESCANEADAS -->
    <div class="imagenes {{paso==3?'extendida':''}}" *ngIf="paso > 1 && paso < 4">
      <div class="img {{paso==3?'extendida':''}}" *ngIf="tipoDoc=='dni'">
        <img (click)="visualizaFoto(myImage1)" #myImage1 [src]="photosNif[1]" width="150" height="105"
          *ngIf="paso>1 && photosNif[1]" />
        <div class="actualiza" *ngIf="paso==3">
          <input title="" type="file" accept="image/*" (change)="getFiles($event,2, 3)">
          {{ 'HUESPED.CAMBIAR' | translate }}
        </div>
      </div>
      <div class="img {{paso==3?'extendida':''}}" *ngIf="tipoDoc=='dni'">
        <div class="imagen_temporal" *ngIf="paso == 2">
          <input id="trasera2" title="" type="file" accept="image/*" (click)="resetFile('trasera2')"
            (change)="getFiles($event,1)">
        </div>
        <img (click)="visualizaFoto(myImage2)" #myImage2 [src]="photosNif[0]" width="150" height="105"
          *ngIf="paso>2 && photosNif[0]" />

        <div class="actualiza" *ngIf="paso==3">
          <input title="" type="file" accept="image/*" (change)="getFiles($event,1, 3)">
          {{ 'HUESPED.CAMBIAR' | translate }}
        </div>
      </div>
      <div class="img {{paso==3?'extendida':''}}" *ngIf="tipoDoc=='pasaporte'">
        <img (click)="visualizaFoto(myImage3)" #myImage3 [src]="photosPassport[0]" width="150" height="105"
          *ngIf="paso>1 && photosPassport[0]" />
        <div class="actualiza" *ngIf="paso==3">
          <input title="" type="file" accept="image/*" (change)="getFiles($event,3, 3)">
          {{ 'HUESPED.CAMBIAR' | translate }}
        </div>
      </div>
    </div>

    <!-- FORMULARIO Y BOTONES -->
    <div class="formulario" *ngIf="paso > 0 && paso < 5">

      <!-- BOTONES ESCANEAR IMÁGENES -->
      <div class="escaneo" *ngIf="paso==1 && tipoDoc=='dni'">
        <div class="info">
          <strong>1.&nbsp;</strong> {{ 'HUESPED.ESCANER_FRONTAL' | translate }}
        </div>
        <div class="boton">
          <input id="frontal1" title="" type="file" accept="image/*" (click)="resetFile('frontal1')"
            (change)="getFiles($event,2)">
          <img src="../../../../assets/img/registro/scan.png" width="80" height="80" />
        </div>
      </div>
      <div class="escaneo" *ngIf="paso==2 && tipoDoc=='dni'">
        <div class="info">
          <strong>2.&nbsp;</strong> {{ 'HUESPED.ESCANER_TRASERO' | translate }}
        </div>
        <div class="boton">
          <input id="trasero1" title="" type="file" accept="image/*" (click)="resetFile('trasero1')"
            (change)="getFiles($event,1)">
          <img src="../../../../assets/img/registro/scan.png" width="80" height="80" />
        </div>
      </div>
      <div class="escaneo" *ngIf="paso==1 && tipoDoc=='pasaporte'">
        <div class="info">
          {{ 'HUESPED.ESCANER_PASAPORTE' | translate }}
        </div>
        <div class="boton">
          <input id="pasaporte1" title="" type="file" accept="image/*" (click)="resetFile('pasaporte1')"
            (change)="getFiles($event,3)">
          <img src="../../../../assets/img/registro/scan.png" width="80" height="80" />
        </div>
      </div>

      <!-- CONFIRMACIÓN PASO 3 -->
      <div class="confirmacion" *ngIf="paso==3">
        <div class="texto_confirmacion">
          {{ 'HUESPED.CONFIRMACION_IMAGENES' | translate }}
        </div>
        <div class="boton_confirmacion">
          <ion-button class="btn_conf" (click)="confirmaImagenes()">
            {{ 'HUESPED.CONTINUAR' | translate }}
          </ion-button>
          <!-- <span class="btn_conf" (click)="confirmaImagenes()"></span> -->
        </div>
      </div>

      <!-- PASO 4, FORMULARIO COMPLETO (FIRMA, EMAIL, CONDICIONES) -->
      <div class="completo" *ngIf="paso==4">
        <div class="firma">
          <div class="texto_firma">
            <div>
              {{ 'HUESPED.FIRMA' | translate }}
            </div>
            <div class="reset_firma">
              <button (click)="clearPad()">{{ 'HUESPED.ERASE_SIGNATURE' | translate }}
              </button>
            </div>
          </div>
          <div class="panel_firma">
            <signature-pad #sigpad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
              (onEndEvent)="drawComplete()">
            </signature-pad>
          </div>
        </div>
        <div class="email">
          <div class="texto_email">
            <label for="email">{{ 'HUESPED.EMAIL' | translate }}</label>
          </div>
          <div class="input_email">
            <input type="text" id="email" [(ngModel)]="this.email" ngDefaultControl>
          </div>
        </div>
        <div class="condiciones">
          <div class="condicion">
            <label class="container_box">{{ 'HUESPED.PRIVACIDAD' | translate }}
              <input type="checkbox" [(ngModel)]="policysecurity" ngDefaultControl>
              <span class="checkmark"></span>
            </label>
            <div class="enlace" (click)="view_policysecurity()">
              &nbsp;({{ 'HUESPED.VER' | translate }})
            </div>
          </div>
          <div class="condicion" *ngIf="condiciones_hotel">
            <label class="container_box">{{ 'HUESPED.CONDICIONES' | translate }}
              <input type="checkbox" [(ngModel)]="conditions" ngDefaultControl>
              <span class="checkmark"></span>
            </label>
            <div class="enlace" (click)="vew_conditions()">
              &nbsp;({{ 'HUESPED.VER' | translate }})
            </div>
          </div>
        </div>

        <!-- REGISTRO DEL HUÉSPED -->
        <div class="registrar">
          <button (click)="saveProfile()">{{ 'HUESPED.REGISTRAR' | translate }}</button>
        </div>
      </div>
    </div>

    <!-- PASO 5, FINALIZACIÓN DEL REGISTRO -->
    <div class="fin_titulo" *ngIf="paso == 5">
      {{ 'HUESPED.ENHORABUENA' | translate }}
    </div>
    <div class="fin_texto" *ngIf="paso == 5">
      {{ 'HUESPED.TEXTO_FIN' | translate }}
    </div>
    <div class="fin_botones" *ngIf="paso == 5">
      <div class="fin_boton" (click)="close()">
        {{ 'HUESPED.FINALIZAR' | translate }}
      </div>
      <!-- <div class="fin_boton_2" (click)="anotherGuest()">
        {{ 'HUESPED.NUEVO_REGISTRO' | translate }}
      </div> -->
    </div>
    <!-- FIN PASO 5 -->


    <ion-list *ngIf="paso == 0 && !readyForm">
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- PASO 0 (Especial, para formulario manual de fastcheckin) -->
    <form *ngIf="paso == 0 && readyForm" [formGroup]="manualForm" class="form_manual"
      (ngSubmit)="guardarDatosManuales()">

      <!-- <ion-item> -->
      <!--<ion-label for="typeOfDocument">
           <span> 
          {{ 'HUESPED.REGISTRO_MANUAL.TIPO_DOCUMENTO' | translate }}
         </span> 
          <span
            class="label_error"
            *ngIf="erroresRegistroManual.tipoDocumento=='obligatorio'">{{ 'HUESPED.REGISTRO_MANUAL.OBLIGATORIO' | translate }}</span>
          </ion-label> -->
      <!-- <ion-select id="typeOfDocument" [(ngModel)]="fastcheckin.typeOfDocument" ngDefaultControl
          (ngModelChange)="cambiarTipoDocumento($event)">
          <option *ngFor="let option of tiposDocumentos.opciones" [ngValue]="option.id">
            {{option.name}} </option>
        </ion-select> -->

      <!-- <ion-select disabled="true" class="centrado" [(ngModel)]="fastcheckin.typeOfDocument" okText="Aceptar"
          cancelText="Cancelar">
          <ion-select-option value="dni">{{ 'HUESPED.DNI' | translate }}</ion-select-option>
          <ion-select-option value="pasaporte">{{ 'HUESPED.PASAPORTE' | translate }}</ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-item *ngIf="fastcheckin.typeOfDocument=='D'">
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.NUM_IDENTIFICACION' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.dni.identifier" maxlength="30" formControlName="numIdentificacion" required
          (ngModelChange)="modificaCampoRegistroManual('numIdentificacion')"></ion-input>
      </ion-item>

      <ion-item *ngIf="fastcheckin.typeOfDocument=='P'">
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.NUM_IDENTIFICACION' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.passport.identifier" maxlength="30" formControlName="numIdentificacion"
          required (ngModelChange)="modificaCampoRegistroManual('numIdentificacion')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.EXPEDICION' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.date_exp" type="date" maxlength="30" formControlName="fechaExpedicion"
          required (ngModelChange)="modificaCampoRegistroManual('fechaExpedicion')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.NOMBRE' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.name" maxlength="30" formControlName="nombre" required
          (ngModelChange)="modificaCampoRegistroManual('nombre')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.APELLIDO_1' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.surnameOne" maxlength="50" formControlName="apellido1"
          (ngModelChange)="modificaCampoRegistroManual('apellido1')"></ion-input>
      </ion-item>

      <!-- EL SEGUNDO APELLIDO SE PONDRÁ COMO OPCIONAL  -->
      <ion-item>
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.APELLIDO_2' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.surnameTwo" maxlength="50" formControlName="apellido2"
          (ngModelChange)="modificaCampoRegistroManual('apellido2')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.NACIMIENTO' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.birthday" type="date" formControlName="fechaNacimiento"
          (ngModelChange)="modificaCampoRegistroManual('fechaNacimiento')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.SEXO' | translate }}</ion-text>
        </ion-label>
        <ion-select placeholder="Seleccione uno" [(ngModel)]="fastcheckin.sex" okText="Aceptar" required
          cancelText="Cancelar" formControlName="sex">
          <!-- <option *ngFor="let option of tiposSexo.opciones" [ngValue]="option.id" selected="option.id==fastcheckin.sex">
            {{option.name}} </option> -->
          <ion-select-option value="F">{{ 'HUESPED.REGISTRO_MANUAL.MUJER' | translate }}</ion-select-option>
          <ion-select-option value="M">{{ 'HUESPED.REGISTRO_MANUAL.HOMBRE' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.NACIONALIDAD' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.nationality" maxlength="50" formControlName="nacionalidad"
          (ngModelChange)="modificaCampoRegistroManual('nacionalidad')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-text>{{ 'HUESPED.REGISTRO_MANUAL.PROVINCIA' | translate }}</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="fastcheckin.province" formControlName="provincia" [ngModelOptions]="{standalone: true}"
          maxlength="50"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">
          <ion-text *ngIf="this.erroresRegistroManual.tieneErrores" class="error_button">
            {{ 'HUESPED.REGISTRO_MANUAL.CONTINUAR' | translate }}
          </ion-text>
          <ion-text *ngIf="!this.erroresRegistroManual.tieneErrores">
            {{ 'HUESPED.REGISTRO_MANUAL.CONTINUAR' | translate }}
          </ion-text>
      </ion-button>

    </form>
    <!-- FIN PASO 0 -->
  </div>

</ion-content>
<ion-footer>
  <!-- PROGRESO -->
  <div class="progreso">
    <span [ngStyle]="{width: progreso}"></span>
  </div>
</ion-footer>