<ion-header>
    <ion-toolbar>
        <ion-button class="filtro">
            Filtros <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="buscarReserva"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="center">HOY</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'HOME.CARGANDO_RESERVAS' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>