<ion-header *ngIf="!sinPermisos">
  <ion-toolbar color="tertiary">
    <ion-button color="tertiary" size="large" expand="full" (click)="abrirFiltros()">
      <ion-icon slot="start" name="list"></ion-icon> VER FILTROS
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="buscarReserva" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-text>HOY</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="noselect" *ngIf="!sinPermisos">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar"
      refreshingSpinner="circles" refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!ready">
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="ready">
    <ion-item *ngFor="let datosReserva of datosReservasFiltradas">
      <ion-label class="cursor-boton" (click)="abrirReserva(datosReserva.reserva.id)">
        <h1>
          <img src="../../../assets/img/true.png" *ngIf="datosReserva.tieneFastCheckin" width="25" height="25" />
          <img src="../../../assets/img/false.png" *ngIf="!datosReserva.tieneFastCheckin" width="25" height="25" />
          {{ datosReserva.reserva.id }}
        </h1>
        <p>{{ datosReserva.reserva.roomReservations[0].checkin }} -
          {{ datosReserva.reserva.roomReservations[0].checkout }}</p>
      </ion-label>

      <!-- <ion-card (click)="abrirReserva(item.name)">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content></ion-card-content>
        </ion-card> -->
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'HOME.CARGANDO_RESERVAS' | translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>