.center {
  margin: 0 auto;
}
.filtro {
  width: 100%;
  height: 100%;
}

// Custom toolbar (overriding Shadow DOM)
ion-toolbar {
  &.ion-color-primary {
    --ion-color-base: #993b3b;
  }

  ion-button{
    margin: 0;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cursor-boton{
  cursor: pointer;
}

.margen-centrado{
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}