<ion-header *ngIf="!sinPermisos">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>HUESPED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!sinPermisos">
  <ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Datos huésped</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="display: flex;">Nombre:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.name ? huesped.name : '-'}}
          </ion-text>
        </p>
        <p style="display: flex;">Apellidos:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.surnameOne ? huesped.surnameOne : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Email:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.email ? huesped.email : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Fecha de nacimiento:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.birthday ? huesped.birthday : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Nacionalidad:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.nationality ? huesped.nationality : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Provincia:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.province ? huesped.province : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Género:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.sex ? huesped.sex : '-' }}
          </ion-text>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Documentación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="display: flex;">Tipo de documento:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped ? huesped.typeOfDocument : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;">Número de documento:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.typeOfDocument.toLowerCase() == 'd' ? huesped.dni.identifier : (huesped ? huesped.passport.identifier : '-') }}
          </ion-text>
        </p>
        <p style="display: flex;">Fecha de expedición:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
          <ion-text color="tertiary" *ngIf="ready" style="margin-left: 10px;">
            {{ huesped && huesped.date_exp ? huesped.date_exp : '-' }}
          </ion-text>
        </p>
        <p style="display: flex;" *ngIf="huesped && huesped.imagenes">Imagenes:
          <ion-skeleton-text *ngIf="!ready" animated style="margin-left:10px; width: 25%"></ion-skeleton-text>
        </p>
        <div *ngIf="ready && huesped && huesped.imagenes">
          <div *ngIf="huesped.imagenes.length>1">
            <p style="text-align: center;">
              DNI FRONTAL
            </p>
            <a href="https://dashboard.becheckin.com/imgs/{{huesped.imagenes[1].enlace}}/{{huesped.imagenes[1].nombre}}" target="_blank">
              <img class="imagen" src="https://dashboard.becheckin.com/imgs/{{huesped.imagenes[1].enlace}}/{{huesped.imagenes[1].nombre}}"/>
            </a>
          </div>
          <div>
            <p style="text-align: center;">
              {{ huesped.typeOfDocument.toLowerCase() == 'd' ? 'DNI TRASERO' : 'PASAPORTE' }}
            </p>
            <a href="https://dashboard.becheckin.com/imgs/{{huesped.imagenes[0].enlace}}/{{huesped.imagenes[0].nombre}}" target="_blank">
              <img class="imagen" src="https://dashboard.becheckin.com/imgs/{{huesped.imagenes[0].enlace}}/{{huesped.imagenes[0].nombre}}"/>
            </a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="huesped && huesped.signature">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Firma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="display: flex; justify-content: center;">
          <ion-skeleton-text *ngIf="!ready" animated style="width: 25%"></ion-skeleton-text>
          <img class="imagen" *ngIf="ready" src="{{huesped.signature}}" />
        </p>
        
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-content>